.formules-header {
  position: relative;
  min-height: 35.4vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  
}

.formules-header__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.formules-header__title {
  position: relative;
  z-index: 1;
  margin: 0;
  padding-left: 7.3%;
  padding-bottom: 17%;
  text-align: left;
  font-family: var(--font-display);
  line-height: 1.1;
  transform: rotate(-2deg);
}

.formules-header__title-line {
  display: block;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: clamp(1.8rem, 3.2vw, 4.6875rem);
  color: var(--color-ink);
}

.formules-header__title-line:first-child {
  font-size: clamp(1.8rem, 3.9vw, 4.6875rem);
}

.formules-header__title-line:last-child .formules-header__title-accent,
.formules-header__title-line:first-child .formules-header__title-accent {
  font-weight: 900;
  font-size: clamp(2.3rem, 5vw, 4.6875rem);
}

.formules-header__title-accent {
  color: #bc843c;
}

.formules-header__arrow {
  position: absolute;
  left: 59%;
  top: 34%;
  width: 12%;
  z-index: 2;
  pointer-events: none;
  transform: scaleX(-1) rotate(-10deg);
}

.formules-header__deco {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.formules-header__deco--broccoli {
  left: 46%;
  top: -10%;
  width: 8.5%;
}

.formules-header__deco--mushroom {
  left: 65%;
  top: 15%;
  width: 5.9%;
}

.formules-header__deco--chicken {
  left: 80%;
  top: -0%;
  width: 13%;
  transform: rotate(-20deg);
}

.formules-header__deco--onion {
  left: 80%;
  top: 40%;
  width: 9%;
}

@media (max-width: 767px) {
  .formules-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    padding: 3rem 1.4rem;
  }

  .formules-header__bg {
  width: 100%;
  height: 70%;
}

  .formules-header__title {
    padding-left: 0;
    margin-top: -6%;
    text-align: center;
    transform: rotate(-0deg);
  }

  .formules-header__deco {
    display: none;
  }

  .formules-header__arrow {
    display: none;
  }
}